export LANG=en_US.UTF-8
export LANGUAGE=en_US:zh_CN
export PATH=~/rofi-translate:$PATH

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

export SDL_IM_MODULE=fcitx
# export INPUT_METHOD=fcitx
export GLFW_IM_MODULE=ibus
xset dpms 0 0 1800
